layout {
    pane_template name="test-all-pane" {
        command "zsh"
    }

    tab name="Robbe Project" {
        pane split_direction="horizontal" {
            pane split_direction="vertical" {
                pane name="Backend-test" {
                    command "zsh"
                    args "-c" "cd ~/dev/navisys/license-portal-backend-api && nx serve-for-test"
                }
                pane name="Tests-all" {
                    command "zsh"
                    args "-c" "cd ~/dev/navisys/license-portal-backend-api && nx e2e frontend-e2e"
                }
            }
            pane split_direction="vertical" {
                pane name="Stripe-test" {
                    command "zsh"
                    args "-c" "cd ~/dev/navisys/stripe-mock-server && nx serve "
                }
                pane name="Scheduler-test" {
                    command "zsh"
                    args "-c" "cd ~/dev/navisys/license-portal-backend-api && nx serve-for-test scheduler "
                }
            }
        }
    }
}
